/.env
/competition_images
/lightning_logs
/sample-submission.csv
/train
/train_image_dict.json
/validate
saved_models/
wandb/
submission.csv
test_image_dict.json
validate_image_dict.json
__pycache__/DenoisingNet.cpython-310.pyc
